CONFIG_TARGET_PREINIT_IP="10.0.0.1"
CONFIG_TARGET_PREINIT_BROADCAST="10.0.0.255"

CONFIG_TARGET_x86_generic_DEVICE_generic=y
CONFIG_TARGET_x86_generic=y
CONFIG_TARGET_x86=y
CONFIG_TARGET_ROOTFS_PARTSIZE=400
CONFIG_LINUX_5_15=y
CONFIG_HAS_SUBTARGETS=y
CONFIG_HAS_DEVICES=y
CONFIG_TARGET_BOARD="x86"
CONFIG_TARGET_SUBTARGET="generic"
CONFIG_TARGET_PROFILE="DEVICE_generic"
CONFIG_TARGET_ARCH_PACKAGES="i386_pentium4"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -march=pentium4"



